.wrap{
    flex: 1;
    width: 80%;
    margin: 0px auto;
    .brief{
        text-align: center;
       h2{
         padding: 12px 0px;
         font-size: 20px;
       }
       img{
          width: 150px;
          height: 150px;
          border-radius: 120px;
          margin-top: 20px;
       }
       ul{
        display: flex;
        justify-content:center;
         li{
            padding: 6px 10px;
            background: rgba(87, 199, 255, 0.1);
            margin: 12px 5px;
            border-radius: 3px;
         }      
       }
       p{
        padding: 12px 0px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
}